<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gainday.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GaindayminiExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D0F67BC2F336C4700D5CE4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D0F67CA2F336C4900D5CE4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D0F67D42F336C4900D5CE4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DD667B62F3601C8008F91CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
